body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }

  [class*="card-"]{
    border-radius: 10px 20px;
    font-size: 18px;
    width: 78px;
    height: 130px;
    position: relative;
    cursor: default;
  }

  .color-blues {
    color: #89ddff;
  }
  .card-plain {
    background: rgb(198, 226, 231);
    border: 1px solid #89ddff;
  }

  .card-control {
    background: rgb(255, 204, 242);
    border: 1px solid #ff89ff;
  }

  .card-science {
    background: rgb(255, 234, 140);
    border: 1px solid #fcc205;
  }

  .card-empty {
    background: rgb(228, 228, 228);
    border: 1px solid #c2c2c2;
  }

  [class*="positioning-"] {
    position: relative;
    top: 0px;
    left: 0px;
    cursor: default;
  }

  .positioning-sidearrow {
    width: 30px;
    height: 120px;
  }

  .positioning-discard {
    width: 76px;
    height: 30px;
  }

  .positioning-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .positioning-header {
    margin: 0;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    font-size: 70%
  }

  .positioning-footer {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    font-size: 80%
  }

  .positioning-layout {
/*    background: rgb(250, 235, 186)*/
  }

  .positioning-table {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    cursor: default;
  }

  .positioning-table td {
    text-align: right;
    vertical-align: top;
  }
  [class*="svg-"] {
    stroke-miterlimit: 10;
    cursor: default;
  }

  [class*="svg-"] text {
    text-anchor: middle;
  }

  .svg-blues {
    fill: rgb(198, 226, 231);
    stroke: #89ddff;
  }

  .svg-blues text {
    fill: #89ddff;    
  }

  .svg-greys {
    fill: rgb(228, 228, 228);
    stroke: #c2c2c2;
  }

  .svg-greys text {
    fill: #c2c2c2;    
  }

  .svg-pinks {
    fill: rgb(255, 204, 242);
    stroke: #ff89ff;
  }

  .svg-pinks text {
    fill: #ff89ff;
  }

  .svg-golds {
    fill: rgb(255, 234, 140);
    stroke: #fcc205;  
  }

  .svg-golds text {
    fill: #fcc205;  
  }


